* {
    display: block;
    font-family: sans-serif;
    margin: 10px;
    font-weight: 550;
}

h2 {
    font-weight: 700;
}
input {
    font-weight: normal;
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
}

fieldset {
    width: 500px;
    border-radius: 15px;
    border: 3px solid rgb(38, 152, 233);
}

