html {
    font-family: var(--font-family);
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    color: var(--main-color);
    min-width: 375px;
}

.container {
    width:min(var(--container-width), 100% - var(--container-padding) *2);
    padding: var(--container-padding);
    margin: 0 auto;
}

a:focus-visible,
button:focus-visible {
    outline: 1px solid var(--accent-color);
    border-radius: 3px;
    outline-offset: 5px;
}
