body {
    font-family: "Montserrat", sans-serif;
    line-height: calc(20px / 16px);
    color: rgba(37, 40, 43, 1);
    background: rgba(248, 252, 255, 1);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
/* ============================================ */

.header {
    line-height: 1.5;
}

.header__inner {
    display: grid;
    min-height: 108px;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    height: 100%;
    align-content: center;
    align-items: center;
}
.header__socials {
    justify-content: end;
}

.header__logo {
    max-width: 54px;
}

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: start;
}

.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}
/* ============================================ */

.hero {
    padding: 120px 0px;
    line-height: 1.5;
    color: rgba(248, 252, 255, 1);
    position: relative;
}
.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}
.hero__list {
    font-size: 24px;
    margin-bottom: 40px;
}
.hero__list-item {
    margin-bottom: 15px;
    display: flex;
    gap: 18px;
    align-items: center;
    transition: all 0.5s;
}
.hero__list-item path {
    transition: 0.5s;
}
.hero__list-item:last-child {
    margin-bottom: 0px;
}
.hero__list-item:hover {
    color: rgba(29, 111, 182, 1);
}
.hero__list-item:hover path {
    fill: rgba(29, 111, 182, 1);
}

.hero__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__video::before {
    content: '';
    background: rgba(16, 46, 73, 0.8);  
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transition: 0.5s;

    color: rgba(29, 111, 182, 1);
    background: rgba(208, 220, 231, 1);
    height: 56px;
    min-width: 288px;
    border-radius: 100px;
}
.button:hover {
    color: rgba(208, 220, 231, 1);
    background:rgba(29, 111, 182, 1);
}
/* ================================= */
.main__body {
    width: 100%;
    min-width: 792px;
}
.main__gallery {
    margin-bottom: 120px;
}

.main__general {
    padding: 120px 0px;
}

.main__wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: start;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}

.sidebar {
    line-height: 20px;
    border: 2px solid rgba(208, 220, 231, 1);
    padding: 30px;
    max-width: 282px;
    width: 100%;
    font-weight: 500;
    min-height: 60vh;
}

.sidebar__item {
    margin-bottom: 20px;
}
.sidebar__item:last-child{
    margin-bottom: 0;
}
/* ==================================== */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-auto-flow: dense;

}
.gallery__img {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right{
    grid-column: 3/5;
    grid-row: span 2;
}

.gallery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(29, 111, 182, 0.7);
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(248, 252, 255, 1);
    line-height: 20px;
    font-weight: 500;

    transform: translateY(100%);
    transition: all 0.5s;
}

.gallery__img:hover .gallery__hint{
    transform: translateY(0%);


}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}
/* =========================================== */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 24px;

}
.products__item-body {
    border: 1px solid rgba(208, 220, 231, 1);
    border-top: none;
    padding: 30px 15px
}

.product__item-img {
    position: relative;
    padding-bottom: 62%;
}
.product__item-img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    top: 13%;
    left: 0;
    border-radius: 0px 100px 100px 0px;
    background: rgba(248, 252, 255, 1);
    color: var(--Синий, rgba(29, 111, 182, 1));
    padding: 18px 15px;
    min-width: 34%;
    text-align: center;
    line-height: 20px;

    animation: badge-actions 2s infinite alternate;
}
@keyframes badge-actions {
    0%{
        min-width: 34%;
    }

    66.666% {
        min-width: 34%;
    }

    100% {
        min-width: 37.5%;
    }
}

.products__item-button {
    margin: 0 auto;
}

/* ====================================== */

.footer{
    background: rgba(120, 128, 136, 1);
    color: var(--Фон, rgba(248, 252, 255, 1));
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
}
.text {
    margin-left: 8px;
}