html {
    font-family: Ubuntu;
    font-weight: 400;
}

.main {
    padding-top: 80px;
    padding-bottom: 120px;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: Ubuntu sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.main-title-large {
    font-size: 48px;
}

.main-title {
    font-family: Oswald;
    margin-bottom: 40px;
    line-height: 115%;
    max-width: 596px;
    text-transform: uppercase;
    font-weight: 600;
}

.main-text {
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 130%;
    
}

.main-text-mb {
    margin-bottom: 40px;
}

img {
    width: 1220px;
    height: 512px;
    margin-bottom: 80px;
}

.main-list {
    margin-top: 0;
    padding-left: 14px;
    font-family: ubuntu;
}

.main-item {
    margin-bottom: 12px;
}
.main-text-low {
    margin-top: 20px;
}