.hero {
    position: relative;
    z-index: -1;
}

@media (width > 576px) {
    .hero {
        padding-bottom: 94px;
    }
}

@media (width <=576px) {
    .hero {
        padding-bottom: 80px;
    }
}

.hero__container {
    min-height: clamp(433px, 13.823rem + 56.49vw, 742px);
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (width > 768px) {
    .hero__container {
        padding-top: 60px;
    }
}

@media (width <=768px) {
    .hero__container {
        padding-top: 20px;
    }
}

.hero__header {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

@media (width > 768px) {
    .hero__header {
        align-items: center;
    }
}

@media (width <=768px) {
    .hero__header {
        flex-direction: column;
    }
}

.hero__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 88px;
    z-index: -1;
}

.hero__title {
    display: flex;
    justify-content: center;
    gap: clamp(8px, 0.09rem + 1.75vw, 35px);
    font-family: var(--font-family);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: clamp(48px, 1.786rem + 5.18vw, 128px);
}

.hero__title-accent {
    color: transparent;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(48px, 1.786rem + 5.18vw, 128px);
    text-transform: uppercase;
    text-align: right;
}

@media (width > 768px) {
    .hero__title-accent {
        -webkit-text-stroke: 3px var(--accent-color);
    }
}

@media (width <=768px) {
    .hero__title-accent {
        -webkit-text-stroke: 1.5px var(--accent-color);
    }
}

.hero__benefits-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (width > 768px) {
    .hero__benefits-list {
        position: absolute;
        left: 0;
    }
}

.hero__benefits-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

@media (width <=768px) {
    .hero__benefits-item {
        font-size: 14px;
    }
}

.hero__footer {
    justify-content: end;
    align-items: center;
    text-align: end;
    padding-bottom: 20px;
}

.hero__details {
    display: inline-flex;
    margin-right: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);
}