.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 1320px;
    border-bottom: 2px solid #5f5b5bac;
    color: black;
    height: 50px;
    font-family: sans-serif;
    font-weight: 500;
    flex-direction: row;
}
.a {
    color: #000;
    text-decoration: none;
}
a {
    color: #000;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-1 {
    width: 40px;
    height: 40px;
    background: #000;
}
.item-2 {
}
.item-3 {

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
