.footer {
    padding: 60px 0 40px;
    background: linear-gradient(90deg, rgba(73,169,255,0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
    text-align: center;
    margin-top: auto;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 2px solid #d3cbd9;
}

.footer-logo {
    margin-bottom: 40px;
    padding-bottom: 40px;
    display: inline-block;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0;
    padding: 0;

}

.list-item {
    list-style: none;
}

.item {
    text-decoration: none;
    font-weight: 400;
    line-height: 130%;
    font-size: 16px;
    color: #535755;
    transition: 0.4s all;
}

.item:hover {
    color: #3596ed;
}

p {
    margin-top: 40px;
    font-weight: 400;
    color: #606161c9;
}


